@use '~bootstrap/scss/bootstrap';
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

#id{
  margin-top:0;
  margin-bottom:1rem;
}

.fixed-form {
  position: fixed;
  top: 50px; /* 画面上端からの距離を調整 */
  left: 50px; /* 画面左端からの距離を調整 */
}

